.bio-pic {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
  grid-template-areas: "pic bio";
  margin: 20px 40px;

  p {
    letter-spacing: 0.1rem;
    line-height: 30px;
  }
  .pic {
    grid-area: "pic";
    img {
      display: block;
      margin: 100px auto;
      opacity: 0.2;
    }
    p {
      text-align: center;
    }
  }
  .bio {
    grid-area: "bio";

    h4 {
      font-size: 2rem;
      padding-top: 100px;
      span {
        color: $sec-color;
      }
    }
    p:last-child {
      border-left: $sec-color 4px solid;
      padding-left: 20px;
    }
  }
}
strong {
  font-weight: 600;
  font-size: 1.05rem;
}

.work-desc {
  letter-spacing: 0.15rem;
  width: 55%;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
}

.work {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-template-areas: "first second third";
  margin: 60px;
  .first {
    grid-area: "first";
  }
  .second {
    grid-area: "second";
  }
  .third {
    grid-area: "third";
  }
  .job {
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-top: $sec-color 4px solid;
    letter-spacing: 0.15rem;
    img {
      width: 150px;
      height: 150px;
      display: block;
      margin: 20px auto;
    }
    .title {
      text-align: center;
      font-size: 1.15rem;
    }
    p {
      font-size: 1rem;
      text-align: center;
      padding: 10px 0;
    }
    .description {
      font-size: 1rem;
    }
    hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 0, 0),
        rgba(255, 255, 0, 0.75),
        rgba(255, 255, 0, 0)
      );
      width: 95%;
      margin: 20px auto;
    }
  }
}
