// Widescreens
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
  #contact {
    .c12 {
      .c2 {
        ul {
          width: 100%;
        }
      }
    }
  }
  #projects {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
}

// Tablets & Small Laptops == max-width: 768px

@include mediaMd {
  .toggle {
    display: block;
  }

  .container {
    // position: initial;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  #brand {
    display: none;
  }
  .links {
    display: none;
    float: none;
    margin: 0 auto;
    li {
      display: block;
      text-align: center;
      &:hover {
        background: $hover-color;

        // padding-bottom: 22px;
        @include easeOut;
        a {
          color: #333;
          border: 0;
        }
      }
    }
  }
  .active {
    display: block;
  }
  .sticky {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  .bio-pic {
    grid-template-columns: 1fr;
    grid-template-areas: initial;
    padding-top: 100px;
  }
  #skills .container-skills {
    grid-template-columns: "1fr 1fr";
    grid-template-areas: "c1 c2";
    grid-gap: 50px;
  }
  .work {
    grid-template-columns: 1fr;
    grid-template-areas: initial;
    grid-gap: 50px;
    .job {
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
  #projects {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  .desc {
    background: rgba(0, 0, 0, 0.5);
  }
  #contact {
    .c12 {
      grid-template-columns: 1fr;
      grid-template-areas: initial;
      .c1,
      .c2 {
        margin: 40px;
      }
    }
  }
}

@include mediaSm {
  #landing {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    #name {
      margin-top: 35vh;
    }
  }

  .bio-pic {
    padding: 0;
    .pic {
      img {
        margin: 80px auto 30px auto;
      }
    }
    .bio h4 {
      font-size: 1.5rem;
      padding-bottom: 20px;
    }
  }

  #skills .container-skills {
    grid-template-columns: 1fr;
    grid-template-areas: initial;
    grid-gap: 50px;
  }
  #projects {
    grid-template-columns: 1fr;
    margin: 20px;
    padding-top: 20px;
    grid-gap: 50px;
  }
  #contact .c12 {
    grid-gap: 0;
    .c1,
    .c2 {
      border: 0;
      margin: 0;
      ul {
        width: 100%;
      }
    }
  }
  .work-desc {
    width: 100%;
    padding: 20px;
  }
  .work {
    margin: 20px;
  }
}
