// Widescreens
@include mediaXl {
  .bio-pic {
    margin: 20px 350px;
  }
}

// Desktops & Laptops
@include mediaLg {
  #contact {
    .c12 {
      .c2 {
        ul {
          width: 100%;
        }
      }
    }
  }
  #projects {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
}

// Tablets & Small Laptops == max-width: 768px

@include mediaMd {
  .toggle {
    display: block;
  }

  .container {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  #brand {
    display: none;
  }
  .links {
    display: none;
    float: none;
    margin: 0 auto;
    li {
      display: block;
      text-align: center;
      &:hover {
        background: $hover-color;
        @include easeOut;
        a {
          color: #333;
          border: 0;
        }
      }
    }
  }
  .active {
    display: block;
  }
  .sticky {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  .bio-pic {
    grid-template-columns: 1fr;
    grid-template-areas: initial;
    padding-top: 100px;
  }

  .work {
    grid-template-columns: 1fr;
    grid-template-areas: initial;
    grid-gap: 50px;
    .job {
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
  #projects {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    .item-1 img:hover,
    .item-2 img:hover,
    .item-3 img:hover,
    .item-4 img:hover,
    .item-5 img:hover,
    .item-6 img:hover {
      content: "";
    }
  }
  .desc {
    background: rgba(0, 0, 0, 0.5);
  }
  #contact {
    .c12 {
      grid-template-columns: 1fr;
      grid-template-areas: initial;
      // .c1,
      // .c2 {
      //   margin: 40px;
      // }
    }
  }
}

@include mediaSm {
  #landing {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    #name {
      margin-top: 20vh;
    }
  }

  .bio-pic {
    padding: 0;
    margin: 20px 40px;
    .pic {
      img {
        margin: 80px auto 30px auto;
      }
    }
    .bio h4 {
      font-size: 1.5rem;
      padding-bottom: 20px;
    }
  }

  #projects {
    grid-template-columns: 1fr;
    margin: 20px;
    padding-top: 20px;
    grid-gap: 50px;
    .item-1 img:hover,
    .item-2 img:hover,
    .item-3 img:hover,
    .item-4 img:hover,
    .item-5 img:hover,
    .item-6 img:hover {
      content: "";
    }
  }
  #contact .c12 {
    grid-gap: 0;
    margin: 20px;
    .c1,
    .c2 {
      border: 0;
      margin: 0;
      // ul {
      //   width: 100%;
      // }
    }
  }
  .work-desc {
    width: 100%;
    padding: 20px;
  }
  .work {
    margin: 20px;
  }
}
