#projects {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  margin: 60px;

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $hover-color;
      @include easeOut;
    }
  }
  .item-1 img:hover {
    content: url(../img/full_social.png);
  }
  .item-2 img:hover {
    content: url(../img/full_appForm.png);
  }
  .item-3 img:hover {
    content: url(../img/full_movieList.png);
  }
  .item-4 img:hover {
    content: url(../img/full_portfolio.png);
  }
  .item-5 img:hover {
    content: url(../img/full_score.png);
  }
  .item-6 img:hover {
    content: url(../img/full_yelp.png);
  }
}
.fa-ul {
  margin: 0.5rem 0.5rem 0.5rem 2rem;
  .fas.fa-chevron-right {
    font-size: 0.8rem;
    margin-top: 4px;
    color: $sec-color;
  }
}
hr {
  border: 0;
  height: 1.5px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 0, 0),
    rgba(255, 255, 0, 0.75),
    rgba(255, 255, 0, 0)
  );
  margin: 20px auto;
}
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  text-align: center;
  &:hover {
    color: $hover-color;
    @include easeOut;

    background: rgba(0, 0, 0, 0.65);
    .fab {
      color: $hover-color;
    }
  }
}

.btn-dark {
  @extend .btn;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.15rem;
}

.desc {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  h3 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    color: $sec-color;
    padding-bottom: 10px;
  }
  p {
    font-size: 1rem;
  }
}
//contact page

#contact {
  .c12 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas: "c1 c2";
    margin: 0 60px 120px 60px;
    margin-bottom: 120px;
    font-size: 1.15rem;
  }
  h2 {
    padding-bottom: 50px;
  }
  .c1 {
    // margin-left: 80px;
    background: rgba(0, 0, 0, 0.55);
    padding: 8%;

    grid-area: "c1";
  }
  .c2 {
    background: rgba(0, 0, 0, 0.55);
    // margin-right: 60px;
    padding: 8%;
    grid-area: "c2";
    border-left: $sec-color 5px solid;
    form {
      // ul {
      //   max-width: 100%;
      // }
      li {
        display: block;
        padding: 9px;
        // border: 1px solid #dddddd;

        // border-radius: 3px;

        width: 300px;
        // height: 50px;
        margin: 10px 0px 10px 0;
        border-width: 0 2px 2px 2px;
        border-color: #dddddd;
        border-style: solid;
        position: relative;

        &:last-child,
        &:nth-child(4) {
          border: none;
          margin-bottom: 20px;
          text-align: center;
        }
        &:nth-child(4) {
          padding: 0;
        }

        & > label {
          // background: rgba(0, 0, 0, 0.9);
          // display: block;
          // float: left;
          // margin-top: -19px;
          // padding: 2px 5px 2px 5px;
          // color: white;
          // font-size: 14px;
          // overflow: hidden;

          position: absolute;
          display: flex;
          top: -12px;
          left: -2px;
          align-items: center;

          &:before,
          &:after {
            content: " ";
            height: 2px;
            background: white;
            display: block;
          }
          &:before {
            margin-right: 15px;
            width: 20px;
          }
          &:after {
            margin-left: 15px;
            width: 202px;
          }
        }
        &:nth-child(3) label:after {
          width: 179px;
        }
        input[type="text"],
        input[type="email"],
        textarea {
          background: none;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          width: 100%;
          display: block;
          outline: none;
          border: none;
          height: 25px;
          line-height: 25px;
          font-size: 16px;
          padding: 0;
        }
        textarea {
          resize: none;
          height: 70px;
        }

        input[type="submit"] {
          background: $hover-color;
          border: none;
          padding: 10px 30px;
          // border-bottom: 3px solid #5994ff;
          border-radius: 5px;
          color: black;
          text-transform: uppercase;
          &:hover {
            background: rgba(0, 255, 255, 0.7);
            color: black;
            cursor: pointer;
            @include easeOut;
          }
        }
      }
    }
  }
}
.subheader {
  text-align: center;
}
