@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");

@import "config";
@import "projects";
@import "about";
// @import "skills";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $main-color;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/laptop.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.05rem;
  overflow-x: hidden;
  width: 100%;
}
a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}
p {
  font-size: 1.15rem;
}
span {
  color: $sec-color;
}

h2 {
  font-size: 3rem;
  margin-top: 200px;
  padding-top: 75px;
  text-align: center;
}
// .skills-p {
//   margin-bottom: 50px;
//   text-align: center;
//   color: rgba(255, 255, 255, 0.5);
//   font-size: $small-font;
//   letter-spacing: 0.15rem;
// }

// landing page
#landing {
  margin-left: 60px;
  letter-spacing: 0.08rem;
  margin-bottom: 10px;
  height: 100vh;
}

#name {
  margin-top: 50vh;
  font-size: 3.8rem;
  font-weight: 600;
}
#sub {
  font-size: 1.5rem;
}
.icons {
  li {
    display: inline-block;
    margin-top: 10px;
    padding-right: 10px;
    a {
      font-size: 2.5rem;
      .fab,
      .far {
        &:hover {
          color: $hover-color;
          @include easeOut;
        }
      }
    }
  }
}
.fas.fa-angle-down {
  display: inline-block;
  color: red;
  margin-top: 10px;
  font-size: 2.5rem;
  margin-bottom: 150px;
  &:hover {
    color: $hover-color;
    @include easeOut;
  }
}
// tooltip
#landing ul li {
  position: relative;
  span {
    position: absolute;
    top: -65%;
    left: 35%;
    transform: translateX(-50%) translateY(-20px);
    width: 140px;
    height: 24px;
    line-height: 24px;
    background: rgb(3, 168, 244);
    color: #fff;
    font-size: 0.9rem;
    border-radius: 4px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    letter-spacing: 0;
    &:before {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: rotate(45deg) translateX(-50%);
      width: 10px;
      height: 10px;
      background: #03a9f4;
      z-index: -1;
    }
  }
  &:hover span {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
  }
}

// end of tooltip

.arrow-down span {
  font-size: $small-font;
  padding: 10px;
  color: #ffffff; /* Fallback for older browsers */
  color: rgba(255, 255, 255, 0.5);
}

// nav bar sticky

.container {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
}

.sticky {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

#brand {
  float: left;
  width: 200px;
  height: 60px;
  margin-left: 60px;
  line-height: 50px;
  img {
    width: 100%;
  }
  &:hover {
    opacity: 0.4;
  }
}

.links {
  float: right;
  margin-right: 60px;
  li {
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-weight: 600;
    font-size: 1.2rem;
    a:hover {
      color: $hover-color;
      border-bottom: 3px $hover-color solid;
      padding-bottom: 17px;
      @include easeOut;
    }
  }
}

//hamburger
.toggle {
  width: 100%;
  padding: 10px 20px;
  text-align: right;
  height: 60px;
  display: none;

  i {
    color: $main-color;
    font-size: 30px;
    &:hover {
      color: $hover-color;
      cursor: pointer;
    }
  }
}

// footer
.footer {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 60px;
  text-align: center;
  padding: 10px;
  clear: both;

  ul {
    li {
      display: inline;
      font-size: $small-font;
      a:hover {
        color: $hover-color;
      }
    }
  }
  p {
    font-size: $small-font;
  }
}

@import "mobile";
